<!DOCTYPE html>
<html>



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>選單首頁</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./Bootstrap_files/bootstrap.min.js.下載"></script>

    <style>
        html,
        body {
            height: 100%;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 15%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <div class="container" style="width:100%;height:100%;background: url('background1.jpg') center fixed no-repeat;
    background-size: cover;">
        <div class="row" style='height:80%'>
        </div>
        <div class="row" style='height:8%'>
            <div class="col-2"></div>
            <div class="col-3" >
                <span class="d-flex justify-content-center">sensor_1</span>
                <button class="btn btn-outline-dark" type="button" value="check1" style="width:100%;height:100%;"
                    onclick="location.href='/scart.html?key=S5M0RSWXO1N8DUVR'">check1</button>
            </div>
            <div class="col-2"></div>
            <div class="col-3">
                <span class="d-flex justify-content-center">sensor_2</span>
                <button class="btn btn-outline-dark" type="button" style="width:100%;height:100%;"
                    onclick="location.href='/scart.html?key=7H3W0YBKSX4FUB9H'">check2</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <!-- <div class='row' style="width:100%;height:100%;background: url('background1.jpg') center fixed no-repeat;
background-size: cover;">
        <div style='margin-top:50;'>
            
        </div>
    </div> -->

</body>




</html>